/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .8s ease-out, visibility 0s linear .0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Spinner End ***/



/*** Topbar Start ***/
.fixed-top {
    transition: 0.5s;
    background: var(--bs-white);
    border: 0;
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}

/*** Topbar End ***/


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(248, 223, 173, 0.1), rgba(248, 223, 173, 0.1)), url(../img/hero-img.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media (min-width: 992px) {

    .hero-header,
    .page-header {
        margin-top: 152px !important;
    }
}

@media (max-width: 992px) {

    .hero-header,
    .page-header {
        margin-top: 97px !important;
    }
}

/*** Hero Header end ***/



/*** Facts Start ***/
.counter {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color: var(--bs-primary);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #37517e;

}

.counter h1 {
    margin-bottom: 0;
    color: #37517e;

}

/* Add this at the bottom of your style.css file */
.text-blue {
    color: #37517e;
    /* The shade of blue you prefer */
}

.bg-blue {
    background-color: #37517e;
    /* The shade of blue for the background */
}

.btn-blue {
    background-color: #37517e;
    /* Blue background for button */
    border-color: #37517e;
    /* Blue border for button */
    color: #fff;
    /* White text color is typical for a button */
}

.btn-blue:hover {
    background-color: #37517e;
    /* Darker blue for hover */
    border-color: #37517e;
}